{% extends "base_generic.html" %}

{% block body %}
  <title>{% block head_title %}{{ title }} Page{% endblock head_title %}</title>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% if user.is_authenticated %}
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">{{ title }} Page</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
                <li class="breadcrumb-item active">{{ title }} Page</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">

          {# search polls #}
          <form method="GET" action="">
            <label for=""><input type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}"/></label>
            <input type="submit" value="Search"/>
          </form>

          <br>

          <div class="row">
            <div class="col-lg col-sm-12">

              {% for obj in queryset_list %}
                <div class="card card-primary card-outline col-sm-3 mr-3 float-left">
                  <div class="card-body">
                    <h5 class="card-title"><a href="{{ obj.get_absolute_url }}"> {{ obj.store_name }}</a></h5>
                    <div class="card-text">持有人: {{ obj.store_holder|truncatechars:10 }}</div>
                    <p class="card-text">店面紀錄: {{ obj.store_notes|linebreaks|truncatechars:10 }}</p>
                    <p class="text-center">
                      <a href="{% url 'polls:polls_edit' id=obj.id %}" class="btn btn-primary" role="button">修改</a>
                      <a href="{% url 'polls:polls_delete' id=obj.id %}" class="btn btn-primary text-center"
                         role="button">刪除</a>
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div><!-- /.col-lg .col-sm-12 -->

          </div><!-- /.row -->
          <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}&q={{ request.GET.q }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>

              {% if page_obj.has_next %}
                <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}&q={{ request.GET.q }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
            </span>
          </div><!-- /. pagination-->

        </div><!-- /.container-fluid -->
      </div><!-- /.content -->

    {% else %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper pt-5">
        <h4>尚未登入，如未註冊、登入可於「右上角」申請註冊。</h4>
      </div>
      <!-- /.content-wrapper -->
    {% endif %}
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
