{% extends "base_generic.html" %}

{% block body %}
  <title>Create Page</title>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% if user.is_authenticated %}
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Create Page</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Create</a></li>
                <li class="breadcrumb-item active">Create Page</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">

                  <h1>Test</h1>
                  <form action="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="save">
{#                    <button type="submit">Submit</button>#}
                  </form>



<div class="main">
    <!-- Display attributes of instance -->
    {{ data.city }} <br/>
    {{ data.description }}
</div>

                  <h5 class="card-title">user account : {{ user|capfirst }}</h5><br>
                  {% if author_list %}
                    <ul>

                      {% for author in author_list %}
                        <li>
                          <a href="{{ author.get_absolute_url }}">
                            {{ author }} ({{ author.date_of_birth }} -
                            {% if author.date_of_death %}{{ author.date_of_death }}{% endif %})
                          </a>
                        </li>
                      {% endfor %}

                    </ul>
                  {% else %}
                    <p>There are no authors available.</p>
                  {% endif %}

                </div>
                <!-- /* card-body -->
              </div>

            </div>
            <!-- /.col-md-6 -->

          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    {% else %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper pt-5">
        <h4>尚未登入，如未註冊、登入可於「右上角」申請註冊。</h4>
      </div>
      <!-- /.content-wrapper -->
    {% endif %}
  </div>
  <!-- /.content-wrapper -->

{% endblock %}

