{% extends "base_generic.html" %}

{% block head %}
  <title>List</title>
{% endblock %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% if user.is_authenticated %}
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">List Page</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">List</a></li>
                <li class="breadcrumb-item active">List Page</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">user account : {{ user|capfirst }}</h5><br>
                  <p>Account: {{ user }}</p>
                  <p>Title Name: {{ title }}</p>
                  <p>Password: {{ user.password }}</p>

                  <p>Username: {{ user.username }}</p>
                  <p>First Name: {{ user.first_name }}</p>
                  <p>Last Name: {{ user.last_name }}</p>
                  <p>Email: {{ user.email }}</p>

                </div>
              </div>

              <div class="card card-primary card-outline">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    {% if store_list %}
                      <ul>
                        {% for store in store_list %}
                          <li>
                            <a href="{{ store.get_absolute_url }}">
                              {{ store }} ({{ store.date_of_birth }} -
                              {% if store.date_of_death %}{{ store.date_of_death }}{% endif %})
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <p>There are no List available.</p>
                    {% endif %}
                  </p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div><!-- /.card -->
            </div>
            <!-- /.col-md-6 -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-header">
                  <h5 class="m-0">Featured</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Special title treatment</h6>

                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>

              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h5 class="m-0">Featured</h5>
                </div>
                <div class="card-body">
                  <h6 class="card-title">Special title treatment</h6>

                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <!-- /.col-md-6 -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    {% else %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper pt-5">
        <h4>尚未登入，如未註冊、登入可於「右上角」申請註冊。</h4>
      </div>
      <!-- /.content-wrapper -->
    {% endif %}
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
