{% extends "base_generic.html" %}

{% block head %}
  <title>List</title>
{% endblock %}

{% block body %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Logged out!</h1>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            {% if validlink %}
              <p>Please enter (and confirm) your new password.</p>
              <form action="" method="post">
                <div style="display:none">
                  <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                  <tr>
                    <td>{{ form.new_password1.errors }}
                      <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                  </tr>
                  <tr>
                    <td>{{ form.new_password2.errors }}
                      <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"/></td>
                  </tr>
                </table>
              </form>
            {% else %}
              <h1>Password reset failed / 密碼重置失敗</h1>
              <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.</p>
              <p>密碼重置鏈接無效，可能是因為它已被使用。 請申請重新設置新密碼。</p>
            {% endif %}
          </div>
          <!-- /.col-md-6 -->

        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}
